{% extends "wafer/base.html" %}
{% block title %}{{ object.userprofile.display_name }} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block container_class %}userprofile{% endblock %}
{% block content %}
  {% include "wafer.users/snippets/profile_bio.html" %}
  {% include "wafer.users/snippets/profile_talks.html" %}
  {% include "wafer.users/snippets/profile_extra.html" %}
{% endblock %}
{% block extra_foot %}
<script type="text/javascript">
  {% if profile.twitter_handle %}
    // Twitter boilerplate
    !function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (! d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "twitter-wjs");
  {% endif %}

  $("#profile-avatar [rel=popover]").attr("data-content", $("#profile-avatar .popover-contents").html());
  $("a[rel=popover]").popover();
</script>
{% endblock %}
